$color-calculadora: #212532;
$color-boton-numero:rgb(16, 16, 153);
$color-boton-simbolo:rgb(89, 89, 255);

@keyframes btn-action {
    to{
        transform: scale(1); 
    }
    from{
        transform: scale(1.05); 
    }
}

html, body{
    height: 100%;
}

input{
    border:none;
    outline: none;
    &:focus{
        outline: none;
    }
}
button{
    
    cursor:pointer;
    background: none;
    outline: none;
    border: none;
    border-radius: 500%;
    &:focus{
        outline: none;
    }

    &:hover{
        animation: btn-action;
        animation-duration: 0.3s;
    }
}